TASK-1

In [6]:
import findspark
from pyspark.sql import SparkSession

In [7]:
findspark.init()

spark = SparkSession.builder.appName('chur_dataset').getOrCreate()
spark

In [8]:
churn_df = spark.read.csv('Data\churn.csv', header=True, inferSchema=True)

In [9]:
churn_df.show()

+---------+----------+---------+-----------+---------+------+---+------+---------+-------------+---------+--------------+---------------+------+
|RowNumber|CustomerId|  Surname|CreditScore|Geography|Gender|Age|Tenure|  Balance|NumOfProducts|HasCrCard|IsActiveMember|EstimatedSalary|Exited|
+---------+----------+---------+-----------+---------+------+---+------+---------+-------------+---------+--------------+---------------+------+
|        1|  15634602| Hargrave|        619|   France|Female| 42|     2|      0.0|            1|        1|             1|      101348.88|     1|
|        2|  15647311|     Hill|        608|    Spain|Female| 41|     1| 83807.86|            1|        0|             1|      112542.58|     0|
|        3|  15619304|     Onio|        502|   France|Female| 42|     8| 159660.8|            3|        1|             0|      113931.57|     1|
|        4|  15701354|     Boni|        699|   France|Female| 39|     1|      0.0|            2|        0|             0|       93826.63|     0|
|        5|  15737888| Mitchell|        850|    Spain|Female| 43|     2|125510.82|            1|        1|             1|        79084.1|     0|
|        6|  15574012|      Chu|        645|    Spain|  Male| 44|     8|113755.78|            2|        1|             0|      149756.71|     1|
|        7|  15592531| Bartlett|        822|   France|  Male| 50|     7|      0.0|            2|        1|             1|        10062.8|     0|
|        8|  15656148|   Obinna|        376|  Germany|Female| 29|     4|115046.74|            4|        1|             0|      119346.88|     1|
|        9|  15792365|       He|        501|   France|  Male| 44|     4|142051.07|            2|        0|             1|        74940.5|     0|
|       10|  15592389|       H?|        684|   France|  Male| 27|     2|134603.88|            1|        1|             1|       71725.73|     0|
|       11|  15767821|   Bearce|        528|   France|  Male| 31|     6|102016.72|            2|        0|             0|       80181.12|     0|
|       12|  15737173|  Andrews|        497|    Spain|  Male| 24|     3|      0.0|            2|        1|             0|       76390.01|     0|
|       13|  15632264|      Kay|        476|   France|Female| 34|    10|      0.0|            2|        1|             0|       26260.98|     0|
|       14|  15691483|     Chin|        549|   France|Female| 25|     5|      0.0|            2|        0|             0|      190857.79|     0|
|       15|  15600882|    Scott|        635|    Spain|Female| 35|     7|      0.0|            2|        1|             1|       65951.65|     0|
|       16|  15643966|  Goforth|        616|  Germany|  Male| 45|     3|143129.41|            2|        0|             1|       64327.26|     0|
|       17|  15737452|    Romeo|        653|  Germany|  Male| 58|     1|132602.88|            1|        1|             0|        5097.67|     1|
|       18|  15788218|Henderson|        549|    Spain|Female| 24|     9|      0.0|            2|        1|             1|       14406.41|     0|
|       19|  15661507|  Muldrow|        587|    Spain|  Male| 45|     6|      0.0|            1|        0|             0|      158684.81|     0|
|       20|  15568982|      Hao|        726|   France|Female| 24|     6|      0.0|            2|        1|             1|       54724.03|     0|
+---------+----------+---------+-----------+---------+------+---+------+---------+-------------+---------+--------------+---------------+------+
only showing top 20 rows

In [10]:
test = churn_df.filter(churn_df.Tenure == 3)  # there are no data with tenure less than

In [11]:
test.show()

+---------+----------+----------+-----------+---------+------+---+------+---------+-------------+---------+--------------+---------------+------+
|RowNumber|CustomerId|   Surname|CreditScore|Geography|Gender|Age|Tenure|  Balance|NumOfProducts|HasCrCard|IsActiveMember|EstimatedSalary|Exited|
+---------+----------+----------+-----------+---------+------+---+------+---------+-------------+---------+--------------+---------------+------+
|       12|  15737173|   Andrews|        497|    Spain|  Male| 24|     3|      0.0|            2|        1|             0|       76390.01|     0|
|       16|  15643966|   Goforth|        616|  Germany|  Male| 45|     3|143129.41|            2|        0|             1|       64327.26|     0|
|       24|  15725737|    Mosman|        669|   France|  Male| 46|     3|      0.0|            2|        0|             1|        8487.75|     0|
|       26|  15738191|   Maclean|        577|   France|  Male| 25|     3|      0.0|            2|        0|             1|      124508.29|     0|
|       29|  15728693|McWilliams|        574|  Germany|Female| 43|     3|141349.43|            1|        1|             1|      100187.43|     0|
|       31|  15589475|   Azikiwe|        591|    Spain|Female| 39|     3|      0.0|            3|        1|             0|      140469.38|     1|
|       37|  15788448|    Watson|        490|    Spain|  Male| 31|     3|145260.23|            1|        0|             1|      114066.77|     0|
|       83|  15641732|     Mills|        543|   France|Female| 36|     3|      0.0|            2|        0|             0|       26019.59|     0|
|       87|  15762418|      Gant|        750|    Spain|  Male| 22|     3|121681.82|            1|        1|             0|      128643.35|     1|
|       90|  15767954|   Osborne|        635|  Germany|Female| 28|     3| 81623.67|            2|        1|             1|      156791.36|     0|
|      111|  15803526|  Eremenko|        685|  Germany|  Male| 30|     3| 90536.81|            1|        0|             1|       63082.88|     0|
|      125|  15779659|  Zetticci|        625|   France|Female| 28|     3|      0.0|            1|        0|             0|      183646.41|     0|
|      131|  15740404|        He|        758|   France|Female| 34|     3|      0.0|            2|        1|             1|      124226.16|     0|
|      180|  15625426|   Ashbolt|        754|  Germany|Female| 55|     3|161608.81|            1|        1|             0|        8080.85|     1|
|      192|  15771086|    Graham|        512|   France|Female| 36|     3| 84327.77|            2|        1|             0|       17675.36|     0|
|      196|  15594815|  Aleshire|        807|   France|  Male| 35|     3|174790.15|            1|        1|             1|         600.36|     0|
|      198|  15777892| Samsonova|        721|  Germany|  Male| 37|     3|107720.64|            1|        1|             1|      158591.12|     0|
|      205|  15627801| Ginikanwa|        512|    Spain|  Male| 33|     3|176666.62|            1|        1|             0|       94670.77|     0|
|      206|  15773039|        Ku|        550|   France|  Male| 37|     3|      0.0|            1|        1|             1|      179670.31|     0|
|      207|  15755262|  McDonald|        608|    Spain|Female| 41|     3| 89763.84|            1|        0|             0|      199304.74|     1|
+---------+----------+----------+-----------+---------+------+---+------+---------+-------------+---------+--------------+---------------+------+
only showing top 20 rows

removing data with tenure less than 3 years

In [12]:
new_churn_df = churn_df.filter(churn_df.Tenure>3)

In [13]:
new_churn_df.show()

+---------+----------+-------------+-----------+---------+------+---+------+---------+-------------+---------+--------------+---------------+------+
|RowNumber|CustomerId|      Surname|CreditScore|Geography|Gender|Age|Tenure|  Balance|NumOfProducts|HasCrCard|IsActiveMember|EstimatedSalary|Exited|
+---------+----------+-------------+-----------+---------+------+---+------+---------+-------------+---------+--------------+---------------+------+
|        3|  15619304|         Onio|        502|   France|Female| 42|     8| 159660.8|            3|        1|             0|      113931.57|     1|
|        6|  15574012|          Chu|        645|    Spain|  Male| 44|     8|113755.78|            2|        1|             0|      149756.71|     1|
|        7|  15592531|     Bartlett|        822|   France|  Male| 50|     7|      0.0|            2|        1|             1|        10062.8|     0|
|        8|  15656148|       Obinna|        376|  Germany|Female| 29|     4|115046.74|            4|        1|             0|      119346.88|     1|
|        9|  15792365|           He|        501|   France|  Male| 44|     4|142051.07|            2|        0|             1|        74940.5|     0|
|       11|  15767821|       Bearce|        528|   France|  Male| 31|     6|102016.72|            2|        0|             0|       80181.12|     0|
|       13|  15632264|          Kay|        476|   France|Female| 34|    10|      0.0|            2|        1|             0|       26260.98|     0|
|       14|  15691483|         Chin|        549|   France|Female| 25|     5|      0.0|            2|        0|             0|      190857.79|     0|
|       15|  15600882|        Scott|        635|    Spain|Female| 35|     7|      0.0|            2|        1|             1|       65951.65|     0|
|       18|  15788218|    Henderson|        549|    Spain|Female| 24|     9|      0.0|            2|        1|             1|       14406.41|     0|
|       19|  15661507|      Muldrow|        587|    Spain|  Male| 45|     6|      0.0|            1|        0|             0|      158684.81|     0|
|       20|  15568982|          Hao|        726|   France|Female| 24|     6|      0.0|            2|        1|             1|       54724.03|     0|
|       21|  15577657|     McDonald|        732|   France|  Male| 41|     8|      0.0|            2|        1|             1|      170886.17|     0|
|       22|  15597945|     Dellucci|        636|    Spain|Female| 32|     8|      0.0|            2|        1|             0|      138555.46|     0|
|       23|  15699309|    Gerasimov|        510|    Spain|Female| 38|     4|      0.0|            1|        1|             0|      118913.53|     1|
|       25|  15625047|          Yen|        846|   France|Female| 38|     5|      0.0|            1|        1|             1|      187616.16|     0|
|       28|  15700772|      Nebechi|        571|   France|  Male| 44|     9|      0.0|            2|        0|             0|       38433.35|     0|
|       32|  15706552|Odinakachukwu|        533|   France|  Male| 36|     7|  85311.7|            1|        0|             1|      156731.91|     0|
|       33|  15750181|    Sanderson|        553|  Germany|  Male| 41|     9|110112.54|            2|        0|             0|       81898.81|     0|
|       34|  15659428|      Maggard|        520|    Spain|Female| 42|     6|      0.0|            2|        1|             1|       34410.55|     0|
+---------+----------+-------------+-----------+---------+------+---+------+---------+-------------+---------+--------------+---------------+------+
only showing top 20 rows

Gr

In [14]:
Tenure_count = new_churn_df.groupBy(new_churn_df.Tenure).count()

In [15]:
Tenure_count.show()

+------+-----+
|Tenure|count|
+------+-----+
|     6|  967|
|     5| 1012|
|     9|  984|
|     4|  989|
|     8| 1025|
|     7| 1028|
|    10|  490|
+------+-----+

Removing exited colum

In [16]:
new_churn_df=new_churn_df.drop(new_churn_df.Exited)

In [17]:
new_churn_df.show()

+---------+----------+-------------+-----------+---------+------+---+------+---------+-------------+---------+--------------+---------------+
|RowNumber|CustomerId|      Surname|CreditScore|Geography|Gender|Age|Tenure|  Balance|NumOfProducts|HasCrCard|IsActiveMember|EstimatedSalary|
+---------+----------+-------------+-----------+---------+------+---+------+---------+-------------+---------+--------------+---------------+
|        3|  15619304|         Onio|        502|   France|Female| 42|     8| 159660.8|            3|        1|             0|      113931.57|
|        6|  15574012|          Chu|        645|    Spain|  Male| 44|     8|113755.78|            2|        1|             0|      149756.71|
|        7|  15592531|     Bartlett|        822|   France|  Male| 50|     7|      0.0|            2|        1|             1|        10062.8|
|        8|  15656148|       Obinna|        376|  Germany|Female| 29|     4|115046.74|            4|        1|             0|      119346.88|
|        9|  15792365|           He|        501|   France|  Male| 44|     4|142051.07|            2|        0|             1|        74940.5|
|       11|  15767821|       Bearce|        528|   France|  Male| 31|     6|102016.72|            2|        0|             0|       80181.12|
|       13|  15632264|          Kay|        476|   France|Female| 34|    10|      0.0|            2|        1|             0|       26260.98|
|       14|  15691483|         Chin|        549|   France|Female| 25|     5|      0.0|            2|        0|             0|      190857.79|
|       15|  15600882|        Scott|        635|    Spain|Female| 35|     7|      0.0|            2|        1|             1|       65951.65|
|       18|  15788218|    Henderson|        549|    Spain|Female| 24|     9|      0.0|            2|        1|             1|       14406.41|
|       19|  15661507|      Muldrow|        587|    Spain|  Male| 45|     6|      0.0|            1|        0|             0|      158684.81|
|       20|  15568982|          Hao|        726|   France|Female| 24|     6|      0.0|            2|        1|             1|       54724.03|
|       21|  15577657|     McDonald|        732|   France|  Male| 41|     8|      0.0|            2|        1|             1|      170886.17|
|       22|  15597945|     Dellucci|        636|    Spain|Female| 32|     8|      0.0|            2|        1|             0|      138555.46|
|       23|  15699309|    Gerasimov|        510|    Spain|Female| 38|     4|      0.0|            1|        1|             0|      118913.53|
|       25|  15625047|          Yen|        846|   France|Female| 38|     5|      0.0|            1|        1|             1|      187616.16|
|       28|  15700772|      Nebechi|        571|   France|  Male| 44|     9|      0.0|            2|        0|             0|       38433.35|
|       32|  15706552|Odinakachukwu|        533|   France|  Male| 36|     7|  85311.7|            1|        0|             1|      156731.91|
|       33|  15750181|    Sanderson|        553|  Germany|  Male| 41|     9|110112.54|            2|        0|             0|       81898.81|
|       34|  15659428|      Maggard|        520|    Spain|Female| 42|     6|      0.0|            2|        1|             1|       34410.55|
+---------+----------+-------------+-----------+---------+------+---+------+---------+-------------+---------+--------------+---------------+
only showing top 20 rows

Adding bonus column

In [18]:
new_churn_df = new_churn_df.withColumn("Bonus", new_churn_df.EstimatedSalary*0.2)

In [19]:
new_churn_df.show()

+---------+----------+-------------+-----------+---------+------+---+------+---------+-------------+---------+--------------+---------------+------------------+
|RowNumber|CustomerId|      Surname|CreditScore|Geography|Gender|Age|Tenure|  Balance|NumOfProducts|HasCrCard|IsActiveMember|EstimatedSalary|             Bonus|
+---------+----------+-------------+-----------+---------+------+---+------+---------+-------------+---------+--------------+---------------+------------------+
|        3|  15619304|         Onio|        502|   France|Female| 42|     8| 159660.8|            3|        1|             0|      113931.57|22786.314000000002|
|        6|  15574012|          Chu|        645|    Spain|  Male| 44|     8|113755.78|            2|        1|             0|      149756.71|         29951.342|
|        7|  15592531|     Bartlett|        822|   France|  Male| 50|     7|      0.0|            2|        1|             1|        10062.8|           2012.56|
|        8|  15656148|       Obinna|        376|  Germany|Female| 29|     4|115046.74|            4|        1|             0|      119346.88|23869.376000000004|
|        9|  15792365|           He|        501|   France|  Male| 44|     4|142051.07|            2|        0|             1|        74940.5|           14988.1|
|       11|  15767821|       Bearce|        528|   France|  Male| 31|     6|102016.72|            2|        0|             0|       80181.12|         16036.224|
|       13|  15632264|          Kay|        476|   France|Female| 34|    10|      0.0|            2|        1|             0|       26260.98|          5252.196|
|       14|  15691483|         Chin|        549|   France|Female| 25|     5|      0.0|            2|        0|             0|      190857.79|38171.558000000005|
|       15|  15600882|        Scott|        635|    Spain|Female| 35|     7|      0.0|            2|        1|             1|       65951.65|          13190.33|
|       18|  15788218|    Henderson|        549|    Spain|Female| 24|     9|      0.0|            2|        1|             1|       14406.41|          2881.282|
|       19|  15661507|      Muldrow|        587|    Spain|  Male| 45|     6|      0.0|            1|        0|             0|      158684.81|         31736.962|
|       20|  15568982|          Hao|        726|   France|Female| 24|     6|      0.0|            2|        1|             1|       54724.03|         10944.806|
|       21|  15577657|     McDonald|        732|   France|  Male| 41|     8|      0.0|            2|        1|             1|      170886.17|34177.234000000004|
|       22|  15597945|     Dellucci|        636|    Spain|Female| 32|     8|      0.0|            2|        1|             0|      138555.46|         27711.092|
|       23|  15699309|    Gerasimov|        510|    Spain|Female| 38|     4|      0.0|            1|        1|             0|      118913.53|23782.706000000002|
|       25|  15625047|          Yen|        846|   France|Female| 38|     5|      0.0|            1|        1|             1|      187616.16|         37523.232|
|       28|  15700772|      Nebechi|        571|   France|  Male| 44|     9|      0.0|            2|        0|             0|       38433.35|           7686.67|
|       32|  15706552|Odinakachukwu|        533|   France|  Male| 36|     7|  85311.7|            1|        0|             1|      156731.91|         31346.382|
|       33|  15750181|    Sanderson|        553|  Germany|  Male| 41|     9|110112.54|            2|        0|             0|       81898.81|         16379.762|
|       34|  15659428|      Maggard|        520|    Spain|Female| 42|     6|      0.0|            2|        1|             1|       34410.55| 6882.110000000001|
+---------+----------+-------------+-----------+---------+------+---+------+---------+-------------+---------+--------------+---------------+------------------+
only showing top 20 rows

In [20]:
new_churn_df = new_churn_df.withColumn("TotalSalary", new_churn_df.EstimatedSalary + new_churn_df.Bonus)

In [21]:
new_churn_df.show()

+---------+----------+-------------+-----------+---------+------+---+------+---------+-------------+---------+--------------+---------------+------------------+------------------+
|RowNumber|CustomerId|      Surname|CreditScore|Geography|Gender|Age|Tenure|  Balance|NumOfProducts|HasCrCard|IsActiveMember|EstimatedSalary|             Bonus|       TotalSalary|
+---------+----------+-------------+-----------+---------+------+---+------+---------+-------------+---------+--------------+---------------+------------------+------------------+
|        3|  15619304|         Onio|        502|   France|Female| 42|     8| 159660.8|            3|        1|             0|      113931.57|22786.314000000002|136717.88400000002|
|        6|  15574012|          Chu|        645|    Spain|  Male| 44|     8|113755.78|            2|        1|             0|      149756.71|         29951.342|        179708.052|
|        7|  15592531|     Bartlett|        822|   France|  Male| 50|     7|      0.0|            2|        1|             1|        10062.8|           2012.56|12075.359999999999|
|        8|  15656148|       Obinna|        376|  Germany|Female| 29|     4|115046.74|            4|        1|             0|      119346.88|23869.376000000004|        143216.256|
|        9|  15792365|           He|        501|   France|  Male| 44|     4|142051.07|            2|        0|             1|        74940.5|           14988.1|           89928.6|
|       11|  15767821|       Bearce|        528|   France|  Male| 31|     6|102016.72|            2|        0|             0|       80181.12|         16036.224|         96217.344|
|       13|  15632264|          Kay|        476|   France|Female| 34|    10|      0.0|            2|        1|             0|       26260.98|          5252.196|         31513.176|
|       14|  15691483|         Chin|        549|   France|Female| 25|     5|      0.0|            2|        0|             0|      190857.79|38171.558000000005|        229029.348|
|       15|  15600882|        Scott|        635|    Spain|Female| 35|     7|      0.0|            2|        1|             1|       65951.65|          13190.33|          79141.98|
|       18|  15788218|    Henderson|        549|    Spain|Female| 24|     9|      0.0|            2|        1|             1|       14406.41|          2881.282|         17287.692|
|       19|  15661507|      Muldrow|        587|    Spain|  Male| 45|     6|      0.0|            1|        0|             0|      158684.81|         31736.962|        190421.772|
|       20|  15568982|          Hao|        726|   France|Female| 24|     6|      0.0|            2|        1|             1|       54724.03|         10944.806|         65668.836|
|       21|  15577657|     McDonald|        732|   France|  Male| 41|     8|      0.0|            2|        1|             1|      170886.17|34177.234000000004|        205063.404|
|       22|  15597945|     Dellucci|        636|    Spain|Female| 32|     8|      0.0|            2|        1|             0|      138555.46|         27711.092|        166266.552|
|       23|  15699309|    Gerasimov|        510|    Spain|Female| 38|     4|      0.0|            1|        1|             0|      118913.53|23782.706000000002|        142696.236|
|       25|  15625047|          Yen|        846|   France|Female| 38|     5|      0.0|            1|        1|             1|      187616.16|         37523.232|        225139.392|
|       28|  15700772|      Nebechi|        571|   France|  Male| 44|     9|      0.0|            2|        0|             0|       38433.35|           7686.67|          46120.02|
|       32|  15706552|Odinakachukwu|        533|   France|  Male| 36|     7|  85311.7|            1|        0|             1|      156731.91|         31346.382|188078.29200000002|
|       33|  15750181|    Sanderson|        553|  Germany|  Male| 41|     9|110112.54|            2|        0|             0|       81898.81|         16379.762|         98278.572|
|       34|  15659428|      Maggard|        520|    Spain|Female| 42|     6|      0.0|            2|        1|             1|       34410.55| 6882.110000000001|          41292.66|
+---------+----------+-------------+-----------+---------+------+---+------+---------+-------------+---------+--------------+---------------+------------------+------------------+
only showing top 20 rows

In [22]:
new_churn_df.write.mode("overwrite").parquet("new_churn.parquet")

TASK-2

In [23]:
# try:
#     spark.stop()
# except:
#     pass
spark_2 = SparkSession.builder.appName('emp_dept_dataset').getOrCreate()

In [24]:
from pyspark.sql.types import StructType, StructField, IntegerType, FloatType, StringType

In [25]:
# ðŸ”¹ Employee Data (20 records)
employee_data = [
    (1, "Alice", 25, 101, 60000.0),
    (2, "Bob", 30, 102, 75000.0),
    (3, "Charlie", 28, 103, 50000.0),
    (4, "David", 40, 104, 90000.0),
    (5, "Eve", 35, 101, 65000.0),
    (6, "Frank", 26, 102, 72000.0),
    (7, "Grace", 32, 103, 55000.0),
    (8, "Hank", 45, 104, 100000.0),
    (9, "Ivy", 29, 101, 58000.0),
    (10, "Jack", 31, 102, 78000.0),
    (11, "Kevin", 27, 103, 51000.0),
    (12, "Laura", 38, 104, 95000.0),
    (13, "Mike", 33, 101, 62000.0),
    (14, "Nina", 41, 102, 80000.0),
    (15, "Oscar", 30, 103, 53000.0),
    (16, "Paul", 37, 104, 92000.0),
    (17, "Quinn", 34, 101, 64000.0),
    (18, "Rachel", 28, 102, 76000.0),
    (19, "Steve", 39, 103, 54000.0),
    (20, "Tina", 42, 104, 98000.0)
]

# ðŸ”¹ Department Data (4 records)
department_data = [
    (101, "HR"),
    (102, "IT"),
    (103, "Finance"),
    (104, "Operations")
]

# Define Schema for Employee DataFrame
employee_schema = StructType([
    StructField("EmpID", IntegerType(), False),
    StructField("EmpName", StringType(), False),
    StructField("Age", IntegerType(), False),
    StructField("DeptID", IntegerType(), False),
    StructField("Salary", FloatType(), False)
])

# Define Schema for Department DataFrame
department_schema = StructType([
    StructField("DeptID", IntegerType(), False),
    StructField("DeptName", StringType(), False)
])

In [26]:
emp_df = spark.createDataFrame(employee_data, schema=employee_schema)
dept_df = spark.createDataFrame(department_data, schema=department_schema)

In [27]:
emp_df.show()

+-----+-------+---+------+--------+
|EmpID|EmpName|Age|DeptID|  Salary|
+-----+-------+---+------+--------+
|    1|  Alice| 25|   101| 60000.0|
|    2|    Bob| 30|   102| 75000.0|
|    3|Charlie| 28|   103| 50000.0|
|    4|  David| 40|   104| 90000.0|
|    5|    Eve| 35|   101| 65000.0|
|    6|  Frank| 26|   102| 72000.0|
|    7|  Grace| 32|   103| 55000.0|
|    8|   Hank| 45|   104|100000.0|
|    9|    Ivy| 29|   101| 58000.0|
|   10|   Jack| 31|   102| 78000.0|
|   11|  Kevin| 27|   103| 51000.0|
|   12|  Laura| 38|   104| 95000.0|
|   13|   Mike| 33|   101| 62000.0|
|   14|   Nina| 41|   102| 80000.0|
|   15|  Oscar| 30|   103| 53000.0|
|   16|   Paul| 37|   104| 92000.0|
|   17|  Quinn| 34|   101| 64000.0|
|   18| Rachel| 28|   102| 76000.0|
|   19|  Steve| 39|   103| 54000.0|
|   20|   Tina| 42|   104| 98000.0|
+-----+-------+---+------+--------+

In [28]:
dept_df.show()

+------+----------+
|DeptID|  DeptName|
+------+----------+
|   101|        HR|
|   102|        IT|
|   103|   Finance|
|   104|Operations|
+------+----------+

In [54]:
emp_df.count()

20

Inner join

In [35]:
joined_df_inner = emp_df.join(dept_df,"DeptID", 'inner')

In [36]:
joined_df_inner.show()

+------+-----+-------+---+--------+----------+
|DeptID|EmpID|EmpName|Age|  Salary|  DeptName|
+------+-----+-------+---+--------+----------+
|   101|    1|  Alice| 25| 60000.0|        HR|
|   101|    5|    Eve| 35| 65000.0|        HR|
|   101|    9|    Ivy| 29| 58000.0|        HR|
|   101|   13|   Mike| 33| 62000.0|        HR|
|   101|   17|  Quinn| 34| 64000.0|        HR|
|   102|    2|    Bob| 30| 75000.0|        IT|
|   102|    6|  Frank| 26| 72000.0|        IT|
|   102|   10|   Jack| 31| 78000.0|        IT|
|   102|   14|   Nina| 41| 80000.0|        IT|
|   102|   18| Rachel| 28| 76000.0|        IT|
|   103|    3|Charlie| 28| 50000.0|   Finance|
|   103|    7|  Grace| 32| 55000.0|   Finance|
|   103|   11|  Kevin| 27| 51000.0|   Finance|
|   103|   15|  Oscar| 30| 53000.0|   Finance|
|   103|   19|  Steve| 39| 54000.0|   Finance|
|   104|    4|  David| 40| 90000.0|Operations|
|   104|    8|   Hank| 45|100000.0|Operations|
|   104|   12|  Laura| 38| 95000.0|Operations|
|   104|   16|   Paul| 37| 92000.0|Operations|
|   104|   20|   Tina| 42| 98000.0|Operations|
+------+-----+-------+---+--------+----------+

In [39]:
joined_df_inner.explain()

== Physical Plan ==
AdaptiveSparkPlan isFinalPlan=false
+- Project [DeptID#574, EmpID#571, EmpName#572, Age#573, Salary#575, DeptName#582]
   +- SortMergeJoin [DeptID#574], [DeptID#581], Inner
      :- Sort [DeptID#574 ASC NULLS FIRST], false, 0
      :  +- Exchange hashpartitioning(DeptID#574, 200), ENSURE_REQUIREMENTS, [plan_id=663]
      :     +- Scan ExistingRDD[EmpID#571,EmpName#572,Age#573,DeptID#574,Salary#575]
      +- Sort [DeptID#581 ASC NULLS FIRST], false, 0
         +- Exchange hashpartitioning(DeptID#581, 200), ENSURE_REQUIREMENTS, [plan_id=664]
            +- Scan ExistingRDD[DeptID#581,DeptName#582]

In [40]:
output_path = "json_joins_data/inner_join_json"
inner_json=joined_df_inner.write.mode("overwrite").json(output_path)
print(f"Inner JOIN written to {output_path}")

Inner JOIN written to json_joins_data/inner_join_json

outer join

In [37]:
joined_df_outer = emp_df.join(dept_df,'DeptID','outer')
joined_df_outer.show()

+------+-----+-------+---+--------+----------+
|DeptID|EmpID|EmpName|Age|  Salary|  DeptName|
+------+-----+-------+---+--------+----------+
|   101|    1|  Alice| 25| 60000.0|        HR|
|   101|    5|    Eve| 35| 65000.0|        HR|
|   101|    9|    Ivy| 29| 58000.0|        HR|
|   101|   13|   Mike| 33| 62000.0|        HR|
|   101|   17|  Quinn| 34| 64000.0|        HR|
|   102|    2|    Bob| 30| 75000.0|        IT|
|   102|    6|  Frank| 26| 72000.0|        IT|
|   102|   10|   Jack| 31| 78000.0|        IT|
|   102|   14|   Nina| 41| 80000.0|        IT|
|   102|   18| Rachel| 28| 76000.0|        IT|
|   103|    3|Charlie| 28| 50000.0|   Finance|
|   103|    7|  Grace| 32| 55000.0|   Finance|
|   103|   11|  Kevin| 27| 51000.0|   Finance|
|   103|   15|  Oscar| 30| 53000.0|   Finance|
|   103|   19|  Steve| 39| 54000.0|   Finance|
|   104|    4|  David| 40| 90000.0|Operations|
|   104|    8|   Hank| 45|100000.0|Operations|
|   104|   12|  Laura| 38| 95000.0|Operations|
|   104|   16|   Paul| 37| 92000.0|Operations|
|   104|   20|   Tina| 42| 98000.0|Operations|
+------+-----+-------+---+--------+----------+

In [42]:
joined_df_outer.explain()

== Physical Plan ==
AdaptiveSparkPlan isFinalPlan=false
+- Project [coalesce(DeptID#574, DeptID#581) AS DeptID#677, EmpID#571, EmpName#572, Age#573, Salary#575, DeptName#582]
   +- SortMergeJoin [DeptID#574], [DeptID#581], FullOuter
      :- Sort [DeptID#574 ASC NULLS FIRST], false, 0
      :  +- Exchange hashpartitioning(DeptID#574, 200), ENSURE_REQUIREMENTS, [plan_id=932]
      :     +- Scan ExistingRDD[EmpID#571,EmpName#572,Age#573,DeptID#574,Salary#575]
      +- Sort [DeptID#581 ASC NULLS FIRST], false, 0
         +- Exchange hashpartitioning(DeptID#581, 200), ENSURE_REQUIREMENTS, [plan_id=933]
            +- Scan ExistingRDD[DeptID#581,DeptName#582]

In [43]:
output_path = "json_joins_data/outer_join_json"
outer_json=joined_df_outer.write.mode("overwrite").json(output_path)
print(f"outer JOIN written to {output_path}")

outer JOIN written to json_joins_data/outer_join_json

Left join

In [38]:
joined_df_left=emp_df.join(dept_df,'DeptID', 'left')
joined_df_left.show()

+------+-----+-------+---+--------+----------+
|DeptID|EmpID|EmpName|Age|  Salary|  DeptName|
+------+-----+-------+---+--------+----------+
|   101|    1|  Alice| 25| 60000.0|        HR|
|   102|    2|    Bob| 30| 75000.0|        IT|
|   103|    3|Charlie| 28| 50000.0|   Finance|
|   104|    4|  David| 40| 90000.0|Operations|
|   101|    5|    Eve| 35| 65000.0|        HR|
|   102|    6|  Frank| 26| 72000.0|        IT|
|   101|    9|    Ivy| 29| 58000.0|        HR|
|   103|    7|  Grace| 32| 55000.0|   Finance|
|   102|   10|   Jack| 31| 78000.0|        IT|
|   104|    8|   Hank| 45|100000.0|Operations|
|   103|   11|  Kevin| 27| 51000.0|   Finance|
|   104|   12|  Laura| 38| 95000.0|Operations|
|   101|   13|   Mike| 33| 62000.0|        HR|
|   102|   14|   Nina| 41| 80000.0|        IT|
|   103|   15|  Oscar| 30| 53000.0|   Finance|
|   104|   16|   Paul| 37| 92000.0|Operations|
|   101|   17|  Quinn| 34| 64000.0|        HR|
|   103|   19|  Steve| 39| 54000.0|   Finance|
|   102|   18| Rachel| 28| 76000.0|        IT|
|   104|   20|   Tina| 42| 98000.0|Operations|
+------+-----+-------+---+--------+----------+

In [44]:
joined_df_left.explain()

== Physical Plan ==
AdaptiveSparkPlan isFinalPlan=false
+- Project [DeptID#574, EmpID#571, EmpName#572, Age#573, Salary#575, DeptName#582]
   +- SortMergeJoin [DeptID#574], [DeptID#581], LeftOuter
      :- Sort [DeptID#574 ASC NULLS FIRST], false, 0
      :  +- Exchange hashpartitioning(DeptID#574, 200), ENSURE_REQUIREMENTS, [plan_id=1078]
      :     +- Scan ExistingRDD[EmpID#571,EmpName#572,Age#573,DeptID#574,Salary#575]
      +- Sort [DeptID#581 ASC NULLS FIRST], false, 0
         +- Exchange hashpartitioning(DeptID#581, 200), ENSURE_REQUIREMENTS, [plan_id=1079]
            +- Scan ExistingRDD[DeptID#581,DeptName#582]

In [45]:
output_path = "json_joins_data/left_join_json"
left_json=joined_df_left.write.mode("overwrite").json(output_path)
print(f"Left JOIN written to {output_path}")

Left JOIN written to json_joins_data/left_join_json

In [51]:
print(left_json)

None

Cross Join

In [46]:
joined_df_cross = emp_df.join(dept_df,'DeptID','cross')
joined_df_cross.show()

+------+-----+-------+---+--------+----------+
|DeptID|EmpID|EmpName|Age|  Salary|  DeptName|
+------+-----+-------+---+--------+----------+
|   101|    1|  Alice| 25| 60000.0|        HR|
|   101|    5|    Eve| 35| 65000.0|        HR|
|   101|    9|    Ivy| 29| 58000.0|        HR|
|   101|   13|   Mike| 33| 62000.0|        HR|
|   101|   17|  Quinn| 34| 64000.0|        HR|
|   102|    2|    Bob| 30| 75000.0|        IT|
|   102|    6|  Frank| 26| 72000.0|        IT|
|   102|   10|   Jack| 31| 78000.0|        IT|
|   102|   14|   Nina| 41| 80000.0|        IT|
|   102|   18| Rachel| 28| 76000.0|        IT|
|   103|    3|Charlie| 28| 50000.0|   Finance|
|   103|    7|  Grace| 32| 55000.0|   Finance|
|   103|   11|  Kevin| 27| 51000.0|   Finance|
|   103|   15|  Oscar| 30| 53000.0|   Finance|
|   103|   19|  Steve| 39| 54000.0|   Finance|
|   104|    4|  David| 40| 90000.0|Operations|
|   104|    8|   Hank| 45|100000.0|Operations|
|   104|   12|  Laura| 38| 95000.0|Operations|
|   104|   16|   Paul| 37| 92000.0|Operations|
|   104|   20|   Tina| 42| 98000.0|Operations|
+------+-----+-------+---+--------+----------+

In [ ]:
joined_df_cross.explain()

== Physical Plan ==
AdaptiveSparkPlan isFinalPlan=false
+- Project [DeptID#574, EmpID#571, EmpName#572, Age#573, Salary#575, DeptName#582]
   +- SortMergeJoin [DeptID#574], [DeptID#581], Cross
      :- Sort [DeptID#574 ASC NULLS FIRST], false, 0
      :  +- Exchange hashpartitioning(DeptID#574, 200), ENSURE_REQUIREMENTS, [plan_id=1347]
      :     +- Scan ExistingRDD[EmpID#571,EmpName#572,Age#573,DeptID#574,Salary#575]
      +- Sort [DeptID#581 ASC NULLS FIRST], false, 0
         +- Exchange hashpartitioning(DeptID#581, 200), ENSURE_REQUIREMENTS, [plan_id=1348]
            +- Scan ExistingRDD[DeptID#581,DeptName#582]

In [48]:
output_path = "json_joins_data\cross_join_json"
cross_json=joined_df_cross.write.mode('overwrite').json(output_path)
print(f"cross join written to {output_path}")

cross join written to json_joins_data\cross_join_json

Broadcast Join