Genrate dataframe using spark

In [1]:
# import os
# os.environ["PYSPARK_PYTHON"] = "python3"
# os.environ["PYSPARK_DRIVER_PYTHON"] = "python3"

In [2]:
import os
os.environ["SPARK_HOME"] = "c:\\spark"

In [3]:
import py4j
import pyspark
print(py4j.__version__)
print(pyspark.__version__)

0.10.9.7
3.5.5

In [4]:


import findspark
findspark.init()
from pyspark.sql import SparkSession 

spark = SparkSession.builder.appName("PySpark DataFrame Example").getOrCreate()
# sc = spark.sparkContext
spark

Create data

In [5]:
from pyspark.sql import Row

data = [
    Row(firstname="Amit", lastname="Sharma", middlename="Kumar", id=101, gender="Male", dep_id=1),
    Row(firstname="Priya", lastname="Verma", middlename="Rani", id=102, gender="Female", dep_id=2),
    Row(firstname="Rahul", lastname="Patil", middlename="Raj", id=103, gender="Male", dep_id=1),
    Row(firstname="Neha", lastname="Desai", middlename="Sunita", id=104, gender="Female", dep_id=3),
    Row(firstname="Suresh", lastname="Yadav", middlename="Chandra", id=105, gender="Male", dep_id=2),
    Row(firstname="Kavita", lastname="Singh", middlename="Anjali", id=106, gender="Female", dep_id=3),
    Row(firstname="Vikas", lastname="Rao", middlename="Nitin", id=107, gender="Male", dep_id=1),
    Row(firstname="Pooja", lastname="Joshi", middlename="Meera", id=108, gender="Female", dep_id=2),
    Row(firstname="Rohit", lastname="Naik", middlename="Dilip", id=109, gender="Male", dep_id=3),
    Row(firstname="Anita", lastname="Kulkarni", middlename="Leela", id=110, gender="Female", dep_id=1)
]
 
# columns = ["firstname", "lastname", "middlename", "id", "gender", "dep_id"]

In [6]:
import json
from pyspark.sql.types import StructType, StructField, StringType, IntegerType

In [7]:
data_df= spark.createDataFrame(data)

In [8]:
data_df

DataFrame[firstname: string, lastname: string, middlename: string, id: bigint, gender: string, dep_id: bigint]

In [9]:
data_df.printSchema()

root
 |-- firstname: string (nullable = true)
 |-- lastname: string (nullable = true)
 |-- middlename: string (nullable = true)
 |-- id: long (nullable = true)
 |-- gender: string (nullable = true)
 |-- dep_id: long (nullable = true)

In [10]:
display(data_df)

DataFrame[firstname: string, lastname: string, middlename: string, id: bigint, gender: string, dep_id: bigint]

In [11]:
data_df.count()

10

In [12]:
data_df.show()

+---------+--------+----------+---+------+------+
|firstname|lastname|middlename| id|gender|dep_id|
+---------+--------+----------+---+------+------+
|     Amit|  Sharma|     Kumar|101|  Male|     1|
|    Priya|   Verma|      Rani|102|Female|     2|
|    Rahul|   Patil|       Raj|103|  Male|     1|
|     Neha|   Desai|    Sunita|104|Female|     3|
|   Suresh|   Yadav|   Chandra|105|  Male|     2|
|   Kavita|   Singh|    Anjali|106|Female|     3|
|    Vikas|     Rao|     Nitin|107|  Male|     1|
|    Pooja|   Joshi|     Meera|108|Female|     2|
|    Rohit|    Naik|     Dilip|109|  Male|     3|
|    Anita|Kulkarni|     Leela|110|Female|     1|
+---------+--------+----------+---+------+------+

In [19]:
vertical=bool(False)
data_df.show(truncate=True, vertical=False)

+---------+--------+----------+---+------+------+
|firstname|lastname|middlename| id|gender|dep_id|
+---------+--------+----------+---+------+------+
|     Amit|  Sharma|     Kumar|101|  Male|     1|
|    Priya|   Verma|      Rani|102|Female|     2|
|    Rahul|   Patil|       Raj|103|  Male|     1|
|     Neha|   Desai|    Sunita|104|Female|     3|
|   Suresh|   Yadav|   Chandra|105|  Male|     2|
|   Kavita|   Singh|    Anjali|106|Female|     3|
|    Vikas|     Rao|     Nitin|107|  Male|     1|
|    Pooja|   Joshi|     Meera|108|Female|     2|
|    Rohit|    Naik|     Dilip|109|  Male|     3|
|    Anita|Kulkarni|     Leela|110|Female|     1|
+---------+--------+----------+---+------+------+

In [20]:
data_df.show(1,vertical=True)

-RECORD 0------------
 firstname  | Amit
 lastname   | Sharma
 middlename | Kumar
 id         | 101
 gender     | Male
 dep_id     | 1
only showing top 1 row

In [15]:
data_df.select("firstname", "lastname", "middlename").describe().show(vertical=True)

-RECORD 0------------
 summary    | count
 firstname  | 10
 lastname   | 10
 middlename | 10
-RECORD 1------------
 summary    | mean
 firstname  | NULL
 lastname   | NULL
 middlename | NULL
-RECORD 2------------
 summary    | stddev
 firstname  | NULL
 lastname   | NULL
 middlename | NULL
-RECORD 3------------
 summary    | min
 firstname  | Amit
 lastname   | Desai
 middlename | Anjali
-RECORD 4------------
 summary    | max
 firstname  | Vikas
 lastname   | Yadav
 middlename | Sunita

In [21]:
data_df.collect()

[Row(firstname='Amit', lastname='Sharma', middlename='Kumar', id=101, gender='Male', dep_id=1),
 Row(firstname='Priya', lastname='Verma', middlename='Rani', id=102, gender='Female', dep_id=2),
 Row(firstname='Rahul', lastname='Patil', middlename='Raj', id=103, gender='Male', dep_id=1),
 Row(firstname='Neha', lastname='Desai', middlename='Sunita', id=104, gender='Female', dep_id=3),
 Row(firstname='Suresh', lastname='Yadav', middlename='Chandra', id=105, gender='Male', dep_id=2),
 Row(firstname='Kavita', lastname='Singh', middlename='Anjali', id=106, gender='Female', dep_id=3),
 Row(firstname='Vikas', lastname='Rao', middlename='Nitin', id=107, gender='Male', dep_id=1),
 Row(firstname='Pooja', lastname='Joshi', middlename='Meera', id=108, gender='Female', dep_id=2),
 Row(firstname='Rohit', lastname='Naik', middlename='Dilip', id=109, gender='Male', dep_id=3),
 Row(firstname='Anita', lastname='Kulkarni', middlename='Leela', id=110, gender='Female', dep_id=1)]

In [22]:
data_df.select("firstname").show()

+---------+
|firstname|
+---------+
|     Amit|
|    Priya|
|    Rahul|
|     Neha|
|   Suresh|
|   Kavita|
|    Vikas|
|    Pooja|
|    Rohit|
|    Anita|
+---------+

In [18]:
row_count = data_df.count()
print(f'number of rows: {row_count}')

number of rows: 10