Installing dependencies

In [ ]:
import findspark
from pyspark.sql import SparkSession
from pyspark.sql.functions import col
f

In [2]:
# create spark session
findspark.init()
spark = SparkSession.builder.appName("small_project_pyspark").getOrCreate()
spark

In [11]:
ct_df=spark.read.csv('C:\spark_training\Small_Project\components\data\dim_customers.csv',inferSchema=True, header=True)

In [12]:
ct_df.printSchema()
ct_df.show()

root
 |-- customer_id: string (nullable = true)
 |-- age_group: string (nullable = true)
 |-- city: string (nullable = true)
 |-- occupation: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- marital status: string (nullable = true)
 |-- avg_income: integer (nullable = true)

+-----------+---------+---------+--------------------+------+--------------+----------+
|customer_id|age_group|     city|          occupation|gender|marital status|avg_income|
+-----------+---------+---------+--------------------+------+--------------+----------+
| ATQCUS1825|      45+|Bengaluru|Salaried IT Emplo...|  Male|       Married|     73523|
| ATQCUS0809|    25-34|Hyderabad|Salaried Other Em...|  Male|       Married|     39922|
| ATQCUS0663|    25-34|  Chennai|Salaried Other Em...|  Male|       Married|     37702|
| ATQCUS0452|    25-34|Delhi NCR|Government Employees|  Male|       Married|     54090|
| ATQCUS3350|    21-24|Bengaluru|         Freelancers|  Male|        Single|     28376|
| ATQCUS3256|    21-24|Delhi NCR|Salaried IT Emplo...|  Male|        Single|     46586|
| ATQCUS3608|    25-34|  Chennai|         Freelancers|  Male|        Single|     34966|
| ATQCUS0611|    25-34|  Chennai|Salaried IT Emplo...|  Male|       Married|     59078|
| ATQCUS3856|    21-24|Bengaluru|Salaried Other Em...|Female|        Single|     30424|
| ATQCUS2640|    35-45|Delhi NCR|Salaried IT Emplo...|Female|       Married|     67450|
| ATQCUS3008|      45+|   Mumbai|Government Employees|Female|       Married|     62542|
| ATQCUS2365|    25-34|  Chennai|Salaried IT Emplo...|Female|       Married|     62738|
| ATQCUS1141|    35-45|Delhi NCR|     Business Owners|  Male|       Married|     72301|
| ATQCUS2853|    35-45|  Chennai|     Business Owners|Female|       Married|     74783|
| ATQCUS3020|      45+|Delhi NCR|Salaried IT Emplo...|Female|       Married|     73754|
| ATQCUS2442|    25-34|  Chennai|Government Employees|Female|       Married|     54575|
| ATQCUS3943|    25-34|Delhi NCR|Salaried IT Emplo...|Female|        Single|     60269|
| ATQCUS1679|      45+|   Mumbai|Salaried Other Em...|  Male|       Married|     41845|
| ATQCUS0744|    25-34|  Chennai|         Freelancers|  Male|       Married|     33831|
| ATQCUS3335|    21-24|Bengaluru|     Business Owners|  Male|        Single|     54149|
+-----------+---------+---------+--------------------+------+--------------+----------+
only showing top 20 rows

In [ ]:
ct_df.filter(col("avg_income").isNull()).show() 
# there are no null values in income column

+-----------+---------+----+----------+------+--------------+----------+
|customer_id|age_group|city|occupation|gender|marital status|avg_income|
+-----------+---------+----+----------+------+--------------+----------+
+-----------+---------+----+----------+------+--------------+----------+

In [18]:
# renaming the column name
ct_df.withColumnRenamed('marital status', 'marital_status').show()

+-----------+---------+---------+--------------------+------+--------------+----------+
|customer_id|age_group|     city|          occupation|gender|marital_status|avg_income|
+-----------+---------+---------+--------------------+------+--------------+----------+
| ATQCUS1825|      45+|Bengaluru|Salaried IT Emplo...|  Male|       Married|     73523|
| ATQCUS0809|    25-34|Hyderabad|Salaried Other Em...|  Male|       Married|     39922|
| ATQCUS0663|    25-34|  Chennai|Salaried Other Em...|  Male|       Married|     37702|
| ATQCUS0452|    25-34|Delhi NCR|Government Employees|  Male|       Married|     54090|
| ATQCUS3350|    21-24|Bengaluru|         Freelancers|  Male|        Single|     28376|
| ATQCUS3256|    21-24|Delhi NCR|Salaried IT Emplo...|  Male|        Single|     46586|
| ATQCUS3608|    25-34|  Chennai|         Freelancers|  Male|        Single|     34966|
| ATQCUS0611|    25-34|  Chennai|Salaried IT Emplo...|  Male|       Married|     59078|
| ATQCUS3856|    21-24|Bengaluru|Salaried Other Em...|Female|        Single|     30424|
| ATQCUS2640|    35-45|Delhi NCR|Salaried IT Emplo...|Female|       Married|     67450|
| ATQCUS3008|      45+|   Mumbai|Government Employees|Female|       Married|     62542|
| ATQCUS2365|    25-34|  Chennai|Salaried IT Emplo...|Female|       Married|     62738|
| ATQCUS1141|    35-45|Delhi NCR|     Business Owners|  Male|       Married|     72301|
| ATQCUS2853|    35-45|  Chennai|     Business Owners|Female|       Married|     74783|
| ATQCUS3020|      45+|Delhi NCR|Salaried IT Emplo...|Female|       Married|     73754|
| ATQCUS2442|    25-34|  Chennai|Government Employees|Female|       Married|     54575|
| ATQCUS3943|    25-34|Delhi NCR|Salaried IT Emplo...|Female|        Single|     60269|
| ATQCUS1679|      45+|   Mumbai|Salaried Other Em...|  Male|       Married|     41845|
| ATQCUS0744|    25-34|  Chennai|         Freelancers|  Male|       Married|     33831|
| ATQCUS3335|    21-24|Bengaluru|     Business Owners|  Male|        Single|     54149|
+-----------+---------+---------+--------------------+------+--------------+----------+
only showing top 20 rows

In [21]:
from pyspark.sql.functions import lit
from datetime import datetime

new_ct_df = ct_df.withColumn("timestamp", lit(datetime.now())).withColumn("net_salary", col("avg_income") + (0.1 * col("avg_income")))
new_ct_df.show()

+-----------+---------+---------+--------------------+------+--------------+----------+--------------------+----------+
|customer_id|age_group|     city|          occupation|gender|marital status|avg_income|           timestamp|net_salary|
+-----------+---------+---------+--------------------+------+--------------+----------+--------------------+----------+
| ATQCUS1825|      45+|Bengaluru|Salaried IT Emplo...|  Male|       Married|     73523|2025-03-06 18:50:...|   80875.3|
| ATQCUS0809|    25-34|Hyderabad|Salaried Other Em...|  Male|       Married|     39922|2025-03-06 18:50:...|   43914.2|
| ATQCUS0663|    25-34|  Chennai|Salaried Other Em...|  Male|       Married|     37702|2025-03-06 18:50:...|   41472.2|
| ATQCUS0452|    25-34|Delhi NCR|Government Employees|  Male|       Married|     54090|2025-03-06 18:50:...|   59499.0|
| ATQCUS3350|    21-24|Bengaluru|         Freelancers|  Male|        Single|     28376|2025-03-06 18:50:...|   31213.6|
| ATQCUS3256|    21-24|Delhi NCR|Salaried IT Emplo...|  Male|        Single|     46586|2025-03-06 18:50:...|   51244.6|
| ATQCUS3608|    25-34|  Chennai|         Freelancers|  Male|        Single|     34966|2025-03-06 18:50:...|   38462.6|
| ATQCUS0611|    25-34|  Chennai|Salaried IT Emplo...|  Male|       Married|     59078|2025-03-06 18:50:...|   64985.8|
| ATQCUS3856|    21-24|Bengaluru|Salaried Other Em...|Female|        Single|     30424|2025-03-06 18:50:...|   33466.4|
| ATQCUS2640|    35-45|Delhi NCR|Salaried IT Emplo...|Female|       Married|     67450|2025-03-06 18:50:...|   74195.0|
| ATQCUS3008|      45+|   Mumbai|Government Employees|Female|       Married|     62542|2025-03-06 18:50:...|   68796.2|
| ATQCUS2365|    25-34|  Chennai|Salaried IT Emplo...|Female|       Married|     62738|2025-03-06 18:50:...|   69011.8|
| ATQCUS1141|    35-45|Delhi NCR|     Business Owners|  Male|       Married|     72301|2025-03-06 18:50:...|   79531.1|
| ATQCUS2853|    35-45|  Chennai|     Business Owners|Female|       Married|     74783|2025-03-06 18:50:...|   82261.3|
| ATQCUS3020|      45+|Delhi NCR|Salaried IT Emplo...|Female|       Married|     73754|2025-03-06 18:50:...|   81129.4|
| ATQCUS2442|    25-34|  Chennai|Government Employees|Female|       Married|     54575|2025-03-06 18:50:...|   60032.5|
| ATQCUS3943|    25-34|Delhi NCR|Salaried IT Emplo...|Female|        Single|     60269|2025-03-06 18:50:...|   66295.9|
| ATQCUS1679|      45+|   Mumbai|Salaried Other Em...|  Male|       Married|     41845|2025-03-06 18:50:...|   46029.5|
| ATQCUS0744|    25-34|  Chennai|         Freelancers|  Male|       Married|     33831|2025-03-06 18:50:...|   37214.1|
| ATQCUS3335|    21-24|Bengaluru|     Business Owners|  Male|        Single|     54149|2025-03-06 18:50:...|   59563.9|
+-----------+---------+---------+--------------------+------+--------------+----------+--------------------+----------+
only showing top 20 rows

In [33]:
from pyspark.sql.functions import window, rank

In [32]:
CityPartition = Window.partitionBy('city').orderBy('net_salary')
OccupationPartition = Window.partitionBy('occupation').orderBy('net_salary')

In [35]:
# ranking on city partition
new_ct_df_cityrank = new_ct_df.withColumn('rank', rank().over(CityPartition))
new_ct_df_cityrank.show()

+-----------+---------+---------+-----------+------+--------------+----------+--------------------+----------+----+
|customer_id|age_group|     city| occupation|gender|marital status|avg_income|           timestamp|net_salary|rank|
+-----------+---------+---------+-----------+------+--------------+----------+--------------------+----------+----+
| ATQCUS3345|    21-24|Bengaluru|Freelancers|  Male|        Single|     24888|2025-03-06 18:50:...|   27376.8|   1|
| ATQCUS2053|    21-24|Bengaluru|Freelancers|Female|       Married|     24995|2025-03-06 18:50:...|   27494.5|   2|
| ATQCUS0082|    21-24|Bengaluru|Freelancers|  Male|       Married|     25301|2025-03-06 18:50:...|   27831.1|   3|
| ATQCUS3864|    21-24|Bengaluru|Freelancers|Female|        Single|     25537|2025-03-06 18:50:...|   28090.7|   4|
| ATQCUS3347|    21-24|Bengaluru|Freelancers|  Male|        Single|     25653|2025-03-06 18:50:...|   28218.3|   5|
| ATQCUS3859|    21-24|Bengaluru|Freelancers|Female|        Single|     26125|2025-03-06 18:50:...|   28737.5|   6|
| ATQCUS0078|    21-24|Bengaluru|Freelancers|  Male|       Married|     26296|2025-03-06 18:50:...|   28925.6|   7|
| ATQCUS3343|    21-24|Bengaluru|Freelancers|  Male|        Single|     26316|2025-03-06 18:50:...|   28947.6|   8|
| ATQCUS0081|    21-24|Bengaluru|Freelancers|  Male|       Married|     26626|2025-03-06 18:50:...|   29288.6|   9|
| ATQCUS3860|    21-24|Bengaluru|Freelancers|Female|        Single|     26873|2025-03-06 18:50:...|   29560.3|  10|
| ATQCUS0080|    21-24|Bengaluru|Freelancers|  Male|       Married|     26939|2025-03-06 18:50:...|   29632.9|  11|
| ATQCUS3339|    21-24|Bengaluru|Freelancers|  Male|        Single|     27034|2025-03-06 18:50:...|   29737.4|  12|
| ATQCUS0084|    21-24|Bengaluru|Freelancers|  Male|       Married|     27110|2025-03-06 18:50:...|   29821.0|  13|
| ATQCUS3340|    21-24|Bengaluru|Freelancers|  Male|        Single|     27161|2025-03-06 18:50:...|   29877.1|  14|
| ATQCUS3863|    21-24|Bengaluru|Freelancers|Female|        Single|     27265|2025-03-06 18:50:...|   29991.5|  15|
| ATQCUS3861|    21-24|Bengaluru|Freelancers|Female|        Single|     27356|2025-03-06 18:50:...|   30091.6|  16|
| ATQCUS3862|    21-24|Bengaluru|Freelancers|Female|        Single|     27488|2025-03-06 18:50:...|   30236.8|  17|
| ATQCUS3349|    21-24|Bengaluru|Freelancers|  Male|        Single|     27729|2025-03-06 18:50:...|   30501.9|  18|
| ATQCUS3341|    21-24|Bengaluru|Freelancers|  Male|        Single|     27759|2025-03-06 18:50:...|   30534.9|  19|
| ATQCUS3342|    21-24|Bengaluru|Freelancers|  Male|        Single|     27794|2025-03-06 18:50:...|   30573.4|  20|
+-----------+---------+---------+-----------+------+--------------+----------+--------------------+----------+----+
only showing top 20 rows

In [36]:
# ranking on occupation partition 
new_ct_df_occupationrank = new_ct_df.withColumn('rank', rank().over(OccupationPartition))
new_ct_df_occupationrank.show()

+-----------+---------+---------+---------------+------+--------------+----------+--------------------+----------+----+
|customer_id|age_group|     city|     occupation|gender|marital status|avg_income|           timestamp|net_salary|rank|
+-----------+---------+---------+---------------+------+--------------+----------+--------------------+----------+----+
| ATQCUS0075|    21-24|Bengaluru|Business Owners|  Male|       Married|     49549|2025-03-06 18:50:...|   54503.9|   1|
| ATQCUS3207|    21-24|   Mumbai|Business Owners|  Male|        Single|     50101|2025-03-06 18:50:...|   55111.1|   2|
| ATQCUS3790|    21-24|   Mumbai|Business Owners|Female|        Single|     50353|2025-03-06 18:50:...|   55388.3|   3|
| ATQCUS3216|    21-24|   Mumbai|Business Owners|  Male|        Single|     50647|2025-03-06 18:50:...|   55711.7|   4|
| ATQCUS3336|    21-24|Bengaluru|Business Owners|  Male|        Single|     50673|2025-03-06 18:50:...|   55740.3|   5|
| ATQCUS3285|    21-24|Delhi NCR|Business Owners|  Male|        Single|     51007|2025-03-06 18:50:...|   56107.7|   6|
| ATQCUS3434|    21-24|Hyderabad|Business Owners|  Male|        Single|     51058|2025-03-06 18:50:...|   56163.8|   7|
| ATQCUS3204|    21-24|   Mumbai|Business Owners|  Male|        Single|     51122|2025-03-06 18:50:...|   56234.2|   8|
| ATQCUS3383|    21-24|  Chennai|Business Owners|  Male|        Single|     51187|2025-03-06 18:50:...|   56305.7|   9|
| ATQCUS0055|    21-24|Delhi NCR|Business Owners|  Male|       Married|     51203|2025-03-06 18:50:...|   56323.3|  10|
| ATQCUS3217|    21-24|   Mumbai|Business Owners|  Male|        Single|     51281|2025-03-06 18:50:...|   56409.1|  11|
| ATQCUS3209|    21-24|   Mumbai|Business Owners|  Male|        Single|     51496|2025-03-06 18:50:...|   56645.6|  12|
| ATQCUS3884|    21-24|  Chennai|Business Owners|Female|        Single|     51505|2025-03-06 18:50:...|   56655.5|  13|
| ATQCUS3788|    21-24|   Mumbai|Business Owners|Female|        Single|     51886|2025-03-06 18:50:...|   57074.6|  14|
| ATQCUS0116|    21-24|Hyderabad|Business Owners|  Male|       Married|     51906|2025-03-06 18:50:...|   57096.6|  15|
| ATQCUS0026|    21-24|   Mumbai|Business Owners|  Male|       Married|     51916|2025-03-06 18:50:...|   57107.6|  16|
| ATQCUS3388|    21-24|  Chennai|Business Owners|  Male|        Single|     51984|2025-03-06 18:50:...|   57182.4|  17|
| ATQCUS3210|    21-24|   Mumbai|Business Owners|  Male|        Single|     52029|2025-03-06 18:50:...|   57231.9|  18|
| ATQCUS3828|    21-24|Delhi NCR|Business Owners|Female|        Single|     52142|2025-03-06 18:50:...|   57356.2|  19|
| ATQCUS3330|    21-24|Bengaluru|Business Owners|  Male|        Single|     52206|2025-03-06 18:50:...|   57426.6|  20|
+-----------+---------+---------+---------------+------+--------------+----------+--------------------+----------+----+
only showing top 20 rows

In [37]:
challenge_1=new_ct_df.write.mode("overwrite").parquet("C:\\spark_training\\Small_Project\\components\\challenge_file.parquet")

7. Matplotlib

In [ ]:
import matplotlib.pyplot as plt